$off-black: #0c0c0c;
$off-white: #d3d3d3;
$background-dark: radial-gradient(circle at center, #000000, $off-black 50vmax);
$background-light: radial-gradient(
	circle at center,
	#ffffff,
	$off-white 50vmax
);
$red: #fe0000;
$orange: #fe8d00;
$yellow: #ffee00;
$green: #018114;
$blue: #014cff;
$purple: #8a018c;
$off-blue: #2e86ab;
$off-pink: #a23b72;
$off-purple: #7435a7;
$off-green: #00a854;
$off-red: #f44336;
$off-yellow: #ffeb3b;

// CSS VARIABLES FOR RESPONSIVE DESIGN

//large screens
:root {
	--link-translate: 2px;
	--font-xxl: 7rem;
	--font-xl: 5rem;
	--font-l: 3rem;
	--font-m: 2rem;
	--font-s: 1.5rem;
	--font-xs: 1rem;
	--skill-container: min(60vw, 1400px);
	--scroll: 0;
	--screen-height: 100vh;
}

/* START MEDIA QUERIES */

// css variables media queries

// medium screens
@media (min-width: 601px) and (max-width: 1000px) {
	$multiplier: 0.7;
	:root {
		--font-xxl: calc(7rem * #{$multiplier});
		--font-xl: calc(5rem * #{$multiplier});
		--font-l: calc(3rem * #{$multiplier});
		--font-m: calc(2rem * #{$multiplier});
		--font-s: calc(1.5rem * #{$multiplier});
		--font-xs: calc(1rem * #{$multiplier});
		--skill-container: 80vw;
	}
}

// small screens
@media (max-width: 600px) {
	$multiplier: 0.5;
	:root {
		--font-xxl: calc(6rem * #{$multiplier});
		--font-xl: calc(5rem * #{$multiplier});
		--font-l: calc(3rem * #{$multiplier});
		--font-m: calc(2rem * #{$multiplier});
		--font-s: calc(1.5rem * #{$multiplier});
		--font-xs: calc(1rem * #{$multiplier});
		--skill-container: 90vw;
	}
	input,
	textarea {
		&#reply_to,
		&#from_name,
		&#message {
			font-size: 16px;
		}
	}
}

// Nav media queries

// large screen size
@media (min-width: 1301px) {
	nav {
		width: fit-content;
		height: 100vh;
		right: 2rem;
		flex-direction: column;
		justify-content: center;
		a .nav-image {
			width: 2em;
			padding-left: var(--font-xs);
		}
	}
}

// small screen size
@media (max-width: 1300px) {
	:root {
		--link-translate: 0;
	}
	nav {
		width: 100vw;
		top: 1rem;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--font-s);
		a.sub-a {
			display: none;
		}
	}
}

/* END MEDIA QUERIES */

/* START MIXINS */

@mixin link-style($initial: $off-blue, $final: $off-pink) {
	text-decoration: none;
	color: $initial;
	transition: all 0.7s;
	&:hover {
		color: $final;
		transform: translateX(var(--link-translate));
	}
}

@mixin individual-page($radius-dim: calc(var(--font-xl) * 1.5)) {
	min-height: var(--screen-height);
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top-left-radius: $radius-dim;
	border-bottom-right-radius: $radius-dim;
}

@mixin container {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

@mixin text-animation {
	background-size: 200vw;
	/* background-image: radial-gradient(#2e86ab, #a23b72, #c73e1d); */
	background-image: linear-gradient(
		45deg,
		#fe0000,
		#fe8d00,
		#ffee00,
		#018114,
		#014cff,
		#8a018c
	);

	background-clip: text;
	-webkit-background-clip: text;
	animation: animated-text 10s infinite alternate;
}

/* END MIXINS */

/* START KEYFRAMES */

@keyframes animated-text {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 100% 0px;
	}
}

/* END KEYFRAMES */

/* START GENERAL STYLING */

.progress-bar {
	height: 3px;
	width: calc(var(--scroll) * 100%);
	background-color: $off-blue;
	position: fixed;
}

nav {
	z-index: 1;
	display: flex;
	position: fixed;
	font-size: var(--font-m);
	a .nav-image {
		width: 2em;
	}
	a {
		text-align: left;
		@include link-style;
		&.active {
			color: $off-pink;
		}
	}
	a.sub-a {
		font-size: var(--font-xs);
		text-indent: var(--font-xs);
	}
}

.container {
	&-light {
		background-color: $off-black;
		& > div {
			&.top {
				@include individual-page(0);
			}
			&.main {
				@include individual-page();
			}
			background-image: $background-light;
			color: $off-black;
		}
	}
	&-dark {
		background-color: $off-white;
		& > div {
			&.top {
				@include individual-page(0);
			}
			&.main {
				@include individual-page();
			}
			background-image: $background-dark;
			color: $off-white;
		}
	}
}

.list {
	list-style-type: none;
	font-size: var(--font-l);
	max-width: var(--skill-container);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	&-item,
	&-link {
		display: block;
		width: fit-content;
		margin: 0.5rem;
		color: $off-black;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		&:nth-child(2n + 1) {
			background-color: $off-blue;
		}
		&:nth-child(2n + 2) {
			background-color: $off-pink;
		}
		&.not-loaded {
			transform: scale(0);
		}
		&.loaded {
			transform: scale(1);
			transition: all 0.4s;
		}

		transform-origin: left bottom;
		&-container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: var(--font-s);
		}
		&-a {
			@include link-style($off-black, $off-black);
		}
	}
	&-link {
		cursor: pointer;
		transition: all 0.4s;
		box-shadow: 0 var(--link-translate) calc(2 * var(--link-translate))
			#00000057;
		&:hover {
			transform: translateY(calc(-1 * var(--link-translate)));
			box-shadow: 0 calc(2 * var(--link-translate))
				calc(2 * var(--link-translate)) #00000038;
		}
	}
}

.landing {
	&-container {
		@include container;
		display: flex;
		flex-direction: column;
		&-header {
			@include text-animation;
			text-align: center;

			font-size: var(--font-xxl);
			font-weight: bold;
			color: rgba($color: #000000, $alpha: 0.1);
		}
		&-subheader {
			@include text-animation;
			color: rgba($color: #000000, $alpha: 0.1);
			font-size: var(--font-l);
			font-weight: 400;
			text-align: center;
		}
		&-location {
			font-size: var(--font-m);
			text-align: center;
			font-weight: 300;
		}
	}
}

.skills {
	&-container {
		@include container;
		&-header {
			text-align: center;
			font-size: var(--font-xl);
			padding-bottom: 2rem;
		}
	}
}

.projects {
	@include container;
	&-header {
		font-size: var(--font-xl);
		text-align: center;
	}
}

.project {
	&-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 3rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 2vw;
		padding-right: 2vw;
		background-color: $off-white;
		color: $off-black;
		border-radius: var(--font-s);
		&-header {
			font-size: var(--font-l);
			text-align: center;
		}
		&-links {
			max-width: calc(var(--skill-container) - 4vw);
			display: flex;
			justify-content: center;
			gap: 2rem;
			padding-top: var(--font-s);

			&-link {
				font-size: var(--font-s);
				@include link-style;
				&-container {
					display: flex;
					align-items: center;
					gap: 5px;
				}
			}
		}
		&-image {
			width: calc(var(--skill-container) - 4vw);
		}
	}
}
.contact {
	&-container {
		@include container;
		&-header {
			font-size: var(--font-xl);
			text-align: center;
		}
		.form {
			&-textarea-char-limit {
				text-align: right;
				font-size: var(--font-xs);
			}
			&-container {
				background-color: $off-black;
				color: $off-white;
				padding: var(--font-l);
				box-sizing: border-box;
				border-radius: var(--font-s);
				text-align: center;
				width: var(--skill-container);
				margin-bottom: var(--font-s);
				h2 {
					text-align: center;
					font-size: var(--font-l);
					font-weight: bold;
				}
				p {
					font-size: var(--font-m);
					margin-top: var(--font-l);
					margin-bottom: var(--font-l);
					&.success {
						color: $off-green;
					}
					&.failed {
						color: $off-red;
					}
					&.loading {
						color: $off-yellow;
					}
					a {
						color: inherit;
					}
				}
				button {
					margin-top: var(--font-m);
					font-size: var(--font-m);
					background-color: $off-blue;
					padding: var(--font-xs);
					border-radius: var(--font-xs);
					color: $off-black;
					cursor: pointer;
					span {
						display: flex;
						align-items: center;
						gap: var(--font-xs);
					}
				}
			}
			&-field {
				display: flex;
				flex-direction: column;
				text-align: left;
				color: $off-white;
				label {
					margin-top: var(--font-xs);
				}
				input,
				textarea {
					background-color: $off-white;
					color: $off-black;
					border: none;
					border-radius: var(--font-xs);
					padding: var(--font-xs);
					font-size: var(--font-s);
				}
				textarea {
					resize: vertical;
					font-size: var(--font-s);

					// edge + firefox
					-ms-overflow-style: none;
					scrollbar-width: none;
					// chrome
					&::-webkit-scrollbar {
						display: none;
					}
				}
			}
		}
	}
}

.footer {
	background-color: $off-black;
	text-align: center;
	padding-top: calc(var(--font-m));
	padding-bottom: calc(var(--font-m));
	&-link {
		text-decoration: none;
		color: $off-white;
		font-size: var(--font-m);
	}
}

/* END GENERAL STYLING */
